.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto;
}
  
.signup-form form {
    display: flex;
    align-items: center;
    width: 100%;
}
  
.signup-form label {
    margin-right: 10px;
    font-weight: bold;
    flex: 0.5; /* Allow label to take up space */
    text-align: right; /* Align text to the right */
    font-size: 2.7em;
}
  
.signup-form input[type="email"] {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
    width: 20%; /* Adjust the width as needed */
    flex: 0.3; /* Allow input to take up more space */
    font-size: 1.2em;
}
  
/* Button styling */
.signup-form button {
    padding: 10px 25px;
    background-color: #888;
    border: 1px solid #000; /* Black border */
    color: white;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0;
    width: auto; /* Auto width */
}

.signup-form button:hover {
    background-color: #555;
}